---
// Basic Cards grid Section
// ------------
// Description: A grid of cards with basic contact information in a 4 column layout.
// Properties:
// - classes: Additional classes to be added to the Section

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/BasicCard.astro'

// 	Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Section id="requests" classes={classes}>
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-balance">Du hast Fragen? Hier bekommst du <strong>Hilfe!</strong></h2>
			<p class="pb-0 text-lg">
				Egal, ob du Unterstützung benötigst oder einfach nur eine Frage hast – wir sind für dich da!
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="3">
			<Card
				title="Mail "
				subtitle="Schreib uns jederzeit eine Nachricht per E-Mail, und wir antworten dir so schnell wie möglich."
				icon="mail"
				classes="text-center dark:!bg-neutral-800/50"
				link="mailto:info@xanten.cc"
			/>
		</Col>
		<Col span="3">
			<Card
				title="Matrix "
				subtitle="Vernetze dich mit uns über das dezentrale Matrix-Netzwerk. Hier kannst du direkt und sicher mit uns kommunizieren. "
				icon="element"
				classes="text-center dark:!bg-neutral-800/50"
				link="https://matrix.to/#/@tobias:xanten.cc"
			/>
		</Col>
		<Col span="3">
			<Card
				title="Mastodon"
				subtitle="Folge uns auf Mastodon und schick uns dort eine Nachricht. Wir sind in den sozialen Netzwerken aktiv und freuen uns auf den Austausch! "
				icon="mastodon"
				classes="text-center dark:!bg-neutral-800/50"
				link="https://social.xanten.cc"
			/>
		</Col>
		<Col span="3" classes="flex flex-col gap-6">
			<Card
				title="Lokal vor Ort"
				subtitle="Du möchtest uns persönlich treffen? Kein Problem! Vereinbare einen Termin, und wir treffen uns hier in Xanten. "
				icon="map-pinned"
				classes="text-center dark:!bg-neutral-800/50"
				link="/contact"
			/>
		</Col>
	</Row>
</Section>
