---
// Components
// - Layout
import Layout from '../layouts/Layout.astro'
// - UI
import SidebarContent from '../components/blocks/basic/StickySidebar.astro'
import Hero from '../components/blocks/hero/PageHeader.astro'
import Button from '../components/ui/Button.astro'
import { Image } from 'astro:assets'
// Content
// - SEO
const SEO = {
	title: 'xanten.cc | Apps',
	description:
		"Wir bieten digitale Dienste f체r ein soziales Miteinander und st채rken die Nachbarschaft in Xanten."
}
// - Page Header
const header = {
	title: 'Schau dir unsere <strong>Apps</strong> an!',
	text: 'Hier hast du direkten Zugriff auf unsere Anwendungen, lade dir die App direkt runter.'
}
---

<Layout title={SEO.title} description={SEO.description}>
	<Hero title={header.title} text={header.text} />
	<SidebarContent>
		<div slot="sidebar" id="mastodon">
			<img src="/apps/mastodon.svg" alt="Mastodon" class="w-24 h-24 object-cover rounded">
			<h3>Mastodon</h3>
			<p>
				Mastodon ist ein dezentraler Mikroblogging-Dienst
			</p>
		</div>
		<div class="basic-text">
			<h4>Lade dir direkt die Mastodon App runter</h4>
			<p>
			</p>
			<div style={{ display: 'flex', justifyContent: 'left', gap: '10px' }}>
				<a href="https://play.google.com/store/apps/details?id=org.joinmastodon.android" target="_blank" rel="noopener noreferrer">
					<img src="https://img.shields.io/badge/Google%20Play-4287F5.svg?style=for-the-badge&logo=google-play&logoColor=white" alt="Install on Google Play" />
				</a>
				<a href="https://f-droid.org/packages/org.joinmastodon.android/" target="_blank" rel="noopener noreferrer">
					<img src="https://img.shields.io/badge/FDroid-34C759.svg?style=for-the-badge&logo=fdroid&logoColor=fff" alt="Install on FDroid" />
				</a>
				<a href="https://apps.apple.com/app/mastodon-for-iphone-and-ipad/id1571998974" target="_blank" rel="noopener noreferrer">
					<img src="https://img.shields.io/badge/iOS-000000.svg?style=for-the-badge&logo=apple&logoColor=white" alt="Install on iOS" />
				</a>
				<a href="https://github.com/mastodon/mastodon" target="_blank" rel="noopener noreferrer">
					<img src="https://img.shields.io/badge/Github-grey?style=for-the-badge&logo=github" alt="Mastodon GitHub Repository" />
				</a>
				<a href="https://joinmastodon.org/apps" target="_blank" rel="noopener noreferrer">
					<img src="https://img.shields.io/badge/Alternative%20Apps-6A5ACD.svg?style=for-the-badge&logo=mastodon&logoColor=white" alt="Alternative Mastodon Apps" />
				</a>
			</div>
			
		</div>
		<p></p>
		<h4>Eigene Instanz</h4>
		<p>
			Wir betreiben unseren eigenen Server, diesen kannst du hier finden.
		</p>
		<Button size="lg" link="https://social.xanten.cc">
			Zur Instanz
		</Button>
	
		</a>
		
	</SidebarContent>
	<SidebarContent classes="bg-neutral-50 dark:bg-neutral-900">
		<div slot="sidebar" id="matrix">
			<img src="/apps/matrix.svg" alt="Matrix / Element" class="w-24 h-24 object-cover rounded">
			<h3>Matrix</h3>
			<p>
				Das Matrix-Protokoll ist ein dezentraler und verschl체sselter Chat-Dienst, der von vielen verschiedenen Apps unterst체tzt wird. Meine Lieblings App ist hier Fluffy.
			</p>
		</div>
		<div class="basic-text">
			<h4>Lade dir direkt die Fluffy App runter</h4>
			<p>
			</p>
			<div style={{ display: 'flex', justifyContent: 'left', gap: '10px' }}>
				<a href="https://play.google.com/store/apps/details?id=chat.fluffy.fluffychat" target="_blank" rel="noopener noreferrer">
					<img src="https://img.shields.io/badge/Google%20Play-4287F5.svg?style=for-the-badge&logo=google-play&logoColor=white" alt="Install on Google Play" />
				</a>
				<a href="https://f-droid.org/packages/chat.fluffy.fluffychat/" target="_blank" rel="noopener noreferrer">
					<img src="https://img.shields.io/badge/FDroid-34C759.svg?style=for-the-badge&logo=fdroid&logoColor=fff" alt="Install on FDroid" />
				</a>
				<a href="https://apps.apple.com/us/app/fluffychat/id1551469600" target="_blank" rel="noopener noreferrer">
					<img src="https://img.shields.io/badge/iOS-000000.svg?style=for-the-badge&logo=apple&logoColor=white" alt="Install on iOS" />
				</a>
				<a href="https://github.com/krille-chan/fluffychat" target="_blank" rel="noopener noreferrer">
					<img src="https://img.shields.io/badge/Github-grey?style=for-the-badge&logo=github" alt="Mastodon GitHub Repository" />
				</a>
				<a href="https://matrix.org/ecosystem/clients/" target="_blank" rel="noopener noreferrer">
					<img src="https://img.shields.io/badge/Alternative%20Apps-6A5ACD.svg?style=for-the-badge&logo=matrix&logoColor=white" alt="Alternative Mastodon Apps" />
				</a>
			</div>
			
		</div>
		<p></p>
		<h4>Eigener Matrix Server</h4>
		<p>
			Du kannst den Chat auch direkt im Browser nutzen.
			Wir betreiben unseren eigenen Server, diesen kannst du hier finden.
		</p>
		<Button size="lg" link="https://matrix.xanten.cc">
			Zum Matrix Server
		</Button>
	
		</a>
	</SidebarContent>

	<SidebarContent>
		<div slot="sidebar" id="vaultwarden">
			<img src="/apps/vaultwarden.svg" alt="Vaultwarden" class="w-24 h-24 object-cover rounded">
			<h3>Vaultwarden</h3>
			<p>
				Der wohl beste Passwortmanager aller Zeiten.
			</p>
		</div>
		<div class="basic-text">
			<h4>Lade dir direkt die Bitwarden App runter</h4>
			<p>
			</p>
			<div style={{ display: 'flex', justifyContent: 'left', gap: '10px' }}>
				<a href="https://play.google.com/store/apps/details?id=com.x8bit.bitwarden" target="_blank" rel="noopener noreferrer">
					<img src="https://img.shields.io/badge/Google%20Play-4287F5.svg?style=for-the-badge&logo=google-play&logoColor=white" alt="Install on Google Play" />
				</a>
				<a href="https://apps.apple.com/us/app/bitwarden-password-manager/id1137397744" target="_blank" rel="noopener noreferrer">
					<img src="https://img.shields.io/badge/iOS-000000.svg?style=for-the-badge&logo=apple&logoColor=white" alt="Install on iOS" />
				</a>
				<a href="https://github.com/dani-garcia/vaultwarden" target="_blank" rel="noopener noreferrer">
					<img src="https://img.shields.io/badge/Github-grey?style=for-the-badge&logo=github" alt="Mastodon GitHub Repository" />
				</a>
				<a href="https://bitwarden.com/de-de/download/" target="_blank" rel="noopener noreferrer">
					<img src="https://img.shields.io/badge/Browser%20Plugin-6A5ACD.svg?style=for-the-badge&logo=vaultwarden&logoColor=white" alt="Alternative Mastodon Apps" />
				</a>
			</div>
			
		</div>
		<p></p>
		<h4>Eigener Server</h4>
		<p>
			Wir betreiben unseren eigenen Server, diesen kannst du hier finden.
		</p>
		<Button size="lg" link="https://vault.xanten.cc">
			Zum Passwortmanager
		</Button>
	
		</a>
		
	</SidebarContent>

</Layout>
